@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Ranchers', cursive;
}

body {
    margin-top: 60px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

ul {
    display: flex;
}

li {
    flex-grow: 1;
    list-style: none;
}

li:nth-child(1) {
    background-color: rgb(45, 82, 151);
}

li:nth-child(1):hover {
    text-shadow: 4px 4px black;
}

li:nth-child(2) {
    background-color: rgb(21, 66, 151);
}

li:nth-child(2):hover {
    text-shadow: 4px 4px black;
}

li:nth-child(3) {
    background-color: rgb(0, 35, 100);
}

li:nth-child(3):hover {
    text-shadow: 4px 4px black;
}

li:nth-child(4) {
    background-color: rgb(0, 12, 36);
}

li:nth-child(4):hover {
    text-shadow: 4px 4px rgb(54, 48, 138);
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    line-height: 60px;
    color: white;

}

section {
    height: 60vh;
    border-bottom: 1px solid black
}

.about_me {
    background-color: rgb(45, 82, 151);
}

.portfolio {
    background-color: rgb(21, 66, 151);
}

.offer {
    background-color: rgb(0, 35, 100);
}

.contact {
    background-color: rgb(0, 12, 36);
}